@{
    ViewData["Title"] = "Cadastro de Clientes";
}

    <div class="text-center">
        <h1 class="display-4">Seja Bem Vindo</h1>
        <br/>
        <p>Pedro Augusto Coelho e Silva</p>
        <p>Analista/Desenvolvedor de Sistemas na plataforma .NET</p>
    </div>
